/* #30C5FF "deep sky blue"
#2A2D34 gunmetal
#5C946E sea green
#80C2AF cambridge blue
#A0DDE6 non photo blue
*/

.app-background {
  background-color: #80C2AF
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.item-card {
  border: 2px solid black;
  width: 300px;
  background-color: #80C2AF
}